.current-player {
  background: #777;
  padding: 24px;
  color: white;
  text-align: center;
}
.board-container {
  background: red;
  width: min-content;
  margin: 40px auto;
  display: flex;
  flex-direction: column;

  &.rotate-board {
    flex-direction: column-reverse;
    .board-row {
      flex-direction: row-reverse;
    }
  }
}

.board-row {
  display: flex;
}
.board-row:nth-child(even) .board-block:nth-child(even),
.board-row:nth-child(odd) .board-block:nth-child(odd) {
  background: rgb(77, 66, 60);
  &.can-play {
    background: rgb(19, 94, 124) !important;
  }
}

.board-row .board-block {
  --block-size: 64px;
  height: var(--block-size);
  width: var(--block-size);
  background: rgb(231, 217, 195);
  &.selected {
    background: rgb(219, 138, 31) !important;
  }
  &.can-play {
    background: rgb(77, 189, 233);
  }

  .piece {
    width: 100%;
    height: 100%;
  }
}
