<div class="current-player">Current player: {{ currentPlayer }}</div>

<div
  class="board-container"
  [ngClass]="rotateBoard && currentPlayer == 'black' ? 'rotate-board' : ''"
>
  <div *ngFor="let row of board" class="board-row">
    <div
      *ngFor="let field of row"
      class="board-block"
      (click)="selectField(field)"
      [ngClass]="
        (selectedField &&
        field.column == selectedField.column &&
        field.row == selectedField.row
          ? 'selected '
          : '') +
        (selectedField && possibleMoves.includes(field.row + ',' + field.column)
          ? 'can-play '
          : '') +
        (selectedField && field.piece ? 'will-capture ' : '')
      "
    >
      <img
        class="piece"
        *ngIf="field.piece"
        src="https://images.chesscomfiles.com/chess-themes/pieces/neo/150/{{
          field.piece.toLocaleLowerCase().replace('-', '')
        }}.png"
        alt=""
      />
      <div
        *ngIf="
          true ||
          isPromoting &&
          field.piece &&
          field.piece[2] === 'P' &&
          (field.row === 0 || field.row === 7)
        "
        class="promotion-options"
      >
        <div class="piece-option">
          <img
            class="piece"
            *ngIf="field.piece"
            src="https://images.chesscomfiles.com/chess-themes/pieces/neo/150/{{
              field.piece[0].toLocaleLowerCase()
            }}q.png"
            alt=""
          />
        </div>
        <div class="piece-option">
          <img
            class="piece"
            *ngIf="field.piece"
            src="https://images.chesscomfiles.com/chess-themes/pieces/neo/150/{{
              field.piece[0].toLocaleLowerCase()
            }}r.png"
            alt=""
          />
        </div>
        <div class="piece-option">
          <img
            class="piece"
            *ngIf="field.piece"
            src="https://images.chesscomfiles.com/chess-themes/pieces/neo/150/{{
              field.piece[0].toLocaleLowerCase()
            }}b.png"
            alt=""
          />
        </div>
        <div class="piece-option">
          <img
            class="piece"
            *ngIf="field.piece"
            src="https://images.chesscomfiles.com/chess-themes/pieces/neo/150/{{
              field.piece[0].toLocaleLowerCase()
            }}n.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
